# Server Configuration
PORT=5007

# MongoDB Connection
MONGO_URI='mongodb+srv://anupamaunni612:erpcrm@useauth.knsjazt.mongodb.net/erp-crm'
#MONGODB_URI=mongodb://localhost:27017/erp-crm

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

# Email Configuration (if needed)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=anupamaunni612@gmail.com
SMTP_PASSWORD=ftor sxil ljns bvlg
SMTP_FROM_EMAIL=anupamaunni612@gmail.com
